{erl_opts, [
            %% bin_opt_info,
            warn_format,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash,
            %% warn_missing_spec,
            warn_untyped_record]}.

{require_otp_vsn, "R15|R16"}.

{deps, [
        {jsx, ".*",   
         {git, "git://github.com/talentdeficit/jsx.git",
          {branch, "master"}}}
]}.
